
/*header {
	background-image:


}*/
.clearfix {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.floatleft {float: left;}
.floatright	{float: right;}
.width	{width: 25%;}
.textcenter	{text-align: center;}


#aloha-logo {
	float: left;
	margin-left: 15px;
	padding: 15px;
}


 #shopping-cart {
 	float: right;
 	padding:15px;
 	margin-right:15px;

 }
 
 	.background-image {
 		clear: both;
 		background-image: url("assets/images/flower-bkgd.jpg");
 		background-size: 90%;
 		background-repeat: no repeat;
 		min-height: 60vh;
 		position: relative;

 	}

 	#bannergirl {
 		position: absolute;
 		background-position: top;
 		bottom: 10%; left: 50%;
 		width: 20%;
 		background-size: cover;
 		background-repeat: no-repeat;
 		margin-left: -10%;
 		background-image: url("assets/images/banner-girl.png");
 		position: center;
 		/*z-index: 1;*/
 		height: 85%;
 		padding-left: 10px; 
 		
 		 

	}
	
	.banner-text {
		position: absolute;
		width: 100%;
		text-align: center;
		z-index: 3;
		top: 25%;
		color: white;
		text-shadow: 1px 1px #999999;

	

		
	}

	h5 {
	color: white;
	font-family: 'Playfair', sans-serif;
	font-size:x 100 px;
	line-height: 50px;
	position: relative;



		
}

	h1 {

  	color: white;
  	font-family: 'Raleway', serif;
  	font-size: 500 px;
  	line-height: 76px;
  	margin: 0;
  	width: 60%
  	position: relative;
  	text-align: center;
  	top: 20%;
}

	.new-collection {
		color: white;
		font-size: 300%;
		top:45%;
		width: 60%
		text-shadow: uppercase;
		bottom: 40%
		font-family: 'Playfair';
		text-align : center;
		max-height: 75%
		line-height: 75px;
		text-decoration-style: solid;
	
	
	}	

	.spring-summer {
		
		font-size: 500%;
		text-shadow:  uppercase;
		margin-bottom: 30%;
		 

	}


 
	.banner-title {

		color: White;
		width: 100px;
	}

	.hand-crafted styles: {
		font-family: 'Raleway' (300i);
	}


	.products: {


	}

	.signup {

 		clear: both;
 		background-image: url("assets/images/wave-bkgd.jpg");
 		background-size: cover;
 		background-repeat: no repeat;
 		min-height: 35vh;
 		position: relative;
 		top: 65%;
 		color: white;
 		padding-top: 15%;
 		padding-bottom: 15%;
 		padding-left: 5%;
 		padding-right: 5%
 		width: 90%;
 	}


	.about {
		font-size:  ;
	margin-bottom: ;
		%
	}
	

	.footer {
		background-color: black;
		text-orientation:  


	}


		
